body {
  background-color: #fffdf9;
  margin: 0;
  text-align: center;
}

.bg-img {
  background-image: url(../images/banner-v6.jpg);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Full height */
  height: 100vh;
}
.banner-container {
  position: absolute;
  width: 100%;
  top: 35%;
}
.bottom-container {
  /* position: absolute;
  bottom: 0; */
  background-color: #8ac6d1;
  height: 100px;
  text-align: center;
  width: 100%;
}
.copyright {
  color: white;
}
div {
  /* background-color: cadetblue; */
}
.footers {
  position: relative;
  top: 10px;
}
.footer-link {
  /* position: relative; */
  /* top: 70px; */
}

.greet {
  color: lightcoral;
}
h1 {
  color: #38adc2;
  /* background-color: white; */
  font-size: 2.75rem;
  font-family: "Expletus Sans", cursive;
  margin: 0;
}
h2 {
  color: #38adc2;
  /* background-color: white; */
  font-size: 2rem;
  font-family: "Expletus Sans", cursive;
  margin: 0;
}
h3 {
  color: #38adc2;
  font-size: 1.5rem;
  font-family: "Expletus Sans", cursive;
  margin: 0;
}
hr {
  border-style: dotted none none;
  border-color: darkgrey;
  border-width: 10px;
  width: 10%;
}
.logo-light {
  height: 5rem;
  width: 5rem;
}
.my-img {
  /* background-color: lightcoral; */
  /* padding: 50px 0; */
  margin: 0px 90px 50px 0;
  height: 60vh;
}

.my-bg {
  margin: 25px auto 0;
}

.my-bg-content {
  display: inline-block;
}
.my-bg-p {
  line-height: 2;
}
.middle-container {
  margin: auto;
  padding: 35px 0;
}
.profile {
  display: inline-block;
  text-align: left;
  width: 48%;
}
.project-container {
  background-color: white;
  height: 100vh;
  width: 100vw;
}
p {
  font-family: "Raleway", sans-serif;
}
.page-header {
  position: relative;
  top: 20px;
  left: 30px;
  width: fit-content;
}
.page-header a {
  color: inherit;
  position: relative;
  text-decoration: inherit;
}
.page-header a img {
  height: 40px;
  margin: 0px 20px 0 0;
  widows: 40px;
}
.page-header a span {
  position: relative;
  top: -10px;
}
.subtitle {
  color: #d0e9ec;
  font-size: 1.875rem;
  font-family: "Raleway", sans-serif;
  /* font-family: "Expletus Sans", cursive; */
  font-weight: 100;
}
.title {
  color: #97efff;
  font-size: 3.125rem;
  /* font-family: "Source Code Pro", monospace; */
  font-family: "Expletus Sans", cursive;
  font-weight: 800;
}
.top-container {
  /* border-bottom: 2px solid #38adc2; */
  height: 80px;
  text-align: left;
  margin-bottom: 30px;
}
